*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #e8ecf3;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.common{
    width: 85%;
    height: 85%;
    background:#ffffffe2;
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 35px;
}
/*
.off-white{
    background: #ebebf3;
}
.light-gray{
    background: #a3b2c2;
}
.light-orange{
    background: #fbaba4;
}

.dark-gray{
    background: #4c545f;
}
.mid-red{
    background: #af4884;
}*/
.alert-div{
    text-align: center;
    margin-top: 40px;
    
}
.alert-div p{   
     font-size:  17px;
    margin-top: 65px; 
    font-weight: 600;
    background: #0c1226;
    color:#fff;
    font-family: sans-serif;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 20px;

}
.section1{
    text-align: center;
    margin-top: 70px;
}
.section1 h1{
   
    font-family: inter,sans-serif;
    font-size: 500;
}
.section1 .colors{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(5, 1fr) ;
    grid-column-gap:45px ;
    margin-top: 60px;

    
}
.section1 .colors .color{
    background-color: #fff;
    box-shadow: .4px .4px 35px rgba(20, 12, 12, 0.522);
    padding:8px 10px 20px 10px ;
    border-radius: 18px;
    

}

.section1 .colors .color .color-img{
    height: 180px;
    margin-bottom: 15px;
    background-color: #add8e6;
   border-radius: 8px;

}.section1 .colors .color .color-img .copy
{
font-size: 20px;
background-color: transparent;
border:1px solid #fff;
border-radius: 10px;

padding: 2px;
margin: 10px 10px;
float: right;
transition: 1s ease-in-out;
}
 input[ type="color"]{
 cursor: pointer;
  } 
.section1 .colors .color .color-img .copy:hover{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
.section1 .colors .color .color-text{
    font-family:inter ;


}
.section2{
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;

}
.section2 .btn{
    font-family: sans-serif;
    font-size:18px;
    padding: 19px 95px;
    background: #7e6cca;
    color: #fff;
    border-radius: 5px;
    box-shadow: .4px .4px 25px rgba(0, 0, 0, 0.151);
    cursor: pointer;
}
.section2 p{
    font-size: 18px;
    margin-top: 20px;
}
.section2 h4{
    font-size:  17px;
    margin-top: 65px;
    margin-bottom: 55px;
    font-weight: 400;
    background: #fff;
    box-shadow: .5px .5px 40px #0000005e;
    color: #4c545f;;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 20px;
    
}
@media all and (max-width: 768px){
    .common{
        width: 100%;
        min-height: 70px;
    }
    .section1 .colors{
   
    grid-template-columns:repeat(2, 1fr) ;
    grid-row-gap: 30px ;
    

    
    
}

}
@media all and (max-width: 600px){
    body{
        min-height: 360vh;
    }
    .common{
        width: 65%;
        min-height: 150px;
    }
    .alert-div{
    
        margin-top: 0px;

    }
    .section1 .colors{  
        width: 50%;       
    grid-template-columns:repeat(1, 1fr) ;
    grid-row-gap: 40px ;
    

  

    
}
.section2 .btn{
    width: 70%;
    padding: 20px 30px;
}
.section2 p{
    width: 80%;
    margin: 20px auto 0px auto;
    font-size: 16px;
}
.section2 h4{
    font-size:  12px;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: 400;
    background: #fff;
    color: #4c545f;;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 20px;
    
}

}